<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzq.usercenter.mapper.SysPermissionMapper">
  <resultMap id="BaseResultMap" type="com.zzq.usercenter.po.SysPermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_uid" jdbcType="VARCHAR" property="createUid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    pid, permission_name, permission, url, create_user, create_uid, create_time
  </sql>
  
  <select id="getSysPermissionByUid" resultMap="BaseResultMap">
    select * from sys_permission p1
    where 1=1
    and p1.pid in (
        select p.pid from sys_role_permission p
        where 1=1
        and p.rid = (
            select r.rid from sys_user_role r
            where 1=1
            and r.uid = #{ uid , jdbcType=VARCHAR }
        )
    )
  </select>
  
</mapper>