<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzq.usercenter.mapper.SysRolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.zzq.usercenter.po.SysRolePermission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="rid" jdbcType="VARCHAR" property="rid" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_uid" jdbcType="VARCHAR" property="createUid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    rid, pid, role_name, create_user, create_uid, create_time
  </sql>
  
  <select id="getRoleNameByUserId" resultMap="BaseResultMap">
    select * from sys_role_permission p
    where 1=1
    and p.rid = (
        select r.rid from sys_user_role r
        where 1=1
        and r.uid = #{ uid , jdbcType=VARCHAR }
    )
  </select>
  
</mapper>